body {
    background-color: #eeeeee;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1150px;
}

.header__inner {
    display: flex;
    align-items: center;
    width: 50%;
}

.logo {
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.header__title {
    margin-left: 20px;
}

.header__title h1,.header__title a{
    color: #3860fc;
    text-decoration: none;
}