.form {
    background-color: #305dff;
    border-radius: 3px;
    height: 500px;
    width: 500px;
}

.evaluation__title {
    color: #fff;
    padding: 20px 0 0 0;
    margin: 0 0 10px 20px;
}

.evaluation-num {
    color: #fff;
    margin-left: 20px;
}

label {
    color: #fff;
}

input {
    border: none;
    border-radius: 3px;
    margin: 0 0 10px 20px;
    outline: none;
    padding: 3px;
}

textarea {
    resize: none;
    outline: none;
    margin-left: 20px;
}

.evaluation_time,
.evaluation_num {
    width: 400px;
}

.flex {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
}

.evaluation__content {
    width: 50%;
}

.evaluation__group {
    border-radius: 3px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 460px;
}

.evaluation__group-flex {
    display: flex;
}

.text {
    color: #fff;
    margin-left: 30px;
    margin-bottom: 15px;
    width: 80px;
}

.form__button-submit {
    background: #0538ff;
    border: none;
    border-radius: 0 0 3px 3px;
    color: #fff;
    cursor: pointer;
    margin-top: 100px;
    padding: 3px 9px;
    height: 50px;
    width: 500px;
}