.card__group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
}

.card {
    border-radius: 3px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    height: 280px;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 280px;
}

.card__img img {
    border-radius: 3px 3px 0 0;
}

.card__content {
    padding: 15px 0 0 10px;
}

.card__content-cat {
    font-weight: bold;
}

.card__content-tag {
    display: flex;
}

.card__content-tag-item {
    font-size: 12px;
}

.button {
    margin-top: 0px;
}

.button-submit {
    background: #3860fc;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    height: 30px;
    padding: 5px 10px;
    text-decoration: none;
    width: 200px;
}




.example2 {
    display: flex;
}

.example2 label {
    position: absolute;
    width: 50px;
    height: 40px;
    /*keep #heart inside the #favorite*/
    right: 10%;
    bottom: 10%;
}

.example2 label:before,
.example2 label:after {
    position: absolute;
    content: "";
    left: 25px;
    top: 0;
    width: 25px;
    height: 40px;
    background: #f88dc8;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.example2 label:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.example2 input:checked+label {
    background: #1a720d;
    color: #FFF;
}

.example2 input {
    display: none;
}